body{
      background-color: #d4d2d2;
}
.container {
      display: flex;
      flex-direction: column;
      height: 100vh;
}

.first-box {
      display: none;
}

.footer ul {
      width: 100%;
}

.second-box {
      background-color: #d4d2d2;
      padding: 20px 50px 50px 20px;
      width: 100vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}


@media (max-width:200px){
      .the-end a{
            margin-top: 20px;
      }
}